<div *ngIf="dataLoaded; else nodata">
  <div class="p-2 m-2 border border-3 rounded-3" [style.background-color]="'papayawhip'">
    <div class="row  justify-content-end m-2">
      <select class="col p-2 me-2 form-select"
              id="tafseer" aria-label="Default select example"
              [(ngModel)]="curTafseer">
        <option *ngFor="let tafseer of getTafseers()" value={{tafseer}}> {{tafseer}}</option>
      </select>
      <select class="col p-2 ms-2 me-2 form-select"
              aria-label="Default select example"
              [(ngModel)]="curAya">
        <option *ngFor="let aya of ayas" value={{aya}}> {{aya}}</option>
      </select>
      <select class="col p-2 ms-2 form-select "
              aria-label="Default select example"
              [(ngModel)]="curSura">
        <option *ngFor="let sura of suras" value={{sura.index}}> {{sura.name}} - {{sura.index }}</option>
      </select>
    </div>
        <ayaCard [aya]="aya"></ayaCard>
   </div>
    <div class="row">
      <span class="m-auto w-auto">
        <previousPointer (previousEvent)="prev()"></previousPointer>
        <nextPointer (nextEvent)="next()"></nextPointer>
      </span>
    </div>
    <div class="m-2  border border-3 rounded-3" [style.background-color]="'papayawhip'">
      <p  class="text-end text-dark  rounded p-3" [innerHTML]="tafseer?.text ?? 'loading...'" >
      </p>
    </div>
    <div class="row">
      <span class="m-auto w-auto">
        <previousPointer (previousEvent)="prev()"></previousPointer>
        <nextPointer (nextEvent)="next()"></nextPointer>
      </span>
    </div>

  </div>


  <ng-template #nodata>
    <loading></loading>
  </ng-template>

