<div (click)='navigateToVideo()' class="m-1 row  border  border-3 rounded-3 " [style.cursor]="'pointer'"  [style.background-color]="'papayawhip'" >
    <div class="col d-inline  p-1 ">
      <rectanglePicture class=" m-1 rounded-3"
                        [width]="90"
                        [height]="90" 
                        [picture]="info?.thumbnailImage" >

      </rectanglePicture>
      <div class="">
        <a  [routerLink]="['../videoViewer' , info.name]" >
          {{info.name}}
        </a>
    </div>
   </div>
  </div>
