<div *ngIf="dataLoaded; else nodata">
  <div class="  m-2 border border-3 rounded-3" [style.background-color]="'papayawhip'">
    <div class="row  justify-content-end m-2">
      <select class="col p-2 me-2 form-select "
              aria-label="Default select example"
              [(ngModel)]="curAya">
        <option *ngFor="let aya of ayas" value={{aya}}> {{aya}}</option>
      </select>
      <select class="col p-2 ms-2 form-select " aria-label="Default select example" [(ngModel)]="curSura">
        <option *ngFor="let sura of suras" value={{sura.index}}> {{sura.name}} - {{sura.index }}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <span class="m-auto w-auto">
      <previousPointer (previousEvent)="prev()"></previousPointer>
      <nextPointer (nextEvent)="next()"></nextPointer>
    </span>
  </div>

    <div class="row align-items-start   p-2">
      <noteText></noteText>
    </div>
    <div class="row">
      <span class="m-auto w-auto">
        <previousPointer (previousEvent)="prev()"></previousPointer>
        <nextPointer (nextEvent)="next()"></nextPointer>
      </span>
    </div>
  </div>
  
<ng-template #nodata>
  <loading></loading>
</ng-template>



