<div class="border border-3 rounded-3 mt-2 mb-2"
     *ngIf="show"
     [@fadeOut]
     [style.background-color]="'wheat'"
     [id]="post.postId">

  <div class="row align-items-center">
    <postOwnerInfo class="col-8"
                   [user]="post.quranHubUser"
                   [post]="post">

    </postOwnerInfo>
    <postOwnerOptions class="col-4"
                      *ngIf="isOwner"
                      [post]="post"
                      (editEvent)="editEvent()"
                      (deleteEvent)="deleteEvent()" >

    </postOwnerOptions>
  </div>

  <textAndAya *ngIf="!editPost"
              [viewAya]="viewAya"
              [post]="post">

  </textAndAya>
  <editPost *ngIf="editPost"
            [post]="post"
            (postEditedEvent)="editedEvent()" >

  </editPost>

  <div class="px-2">
    <post [post]="post.share.post"></post>
  </div>

  <div class="row m-2">
    <div class="col-10">
      <likeCount [addYou]="post.reactedTo"
                 [count]="post.reactsCount"
                 (showLikesEvent)="showLikesEvent()">

      </likeCount>
      <likesModal *ngIf="showLikes"
                  [repository]="postDataRepository"
                  [postId]="post.postId"
                  [totalLikes]="post.reactsCount"
                  (hideLikesEvent)="hideLikesEvent()">

      </likesModal>
    </div>
    <div class="col-1">
      <commentCount [count]="post.commentsCount"></commentCount>
    </div>
  </div>

  <hr class="m-2">

  <div class="row m-2">
    <div class="col-6">
      <like [liked]="post.reactedTo"
            (likeEvent)="likeEvent()"
            (unlikeEvent)="unlikeEvent()">
      </like>
    </div>
    <div class="col-6">
      <addComment (writingCommentEvent)="startWritingComment()" ></addComment>
    </div>
  </div>

  <hr class="m-2">
  <commentContainer
      [post]="post"
      [repository]="postDataRepository"
      [writingComment]="writingComment"
      (cancelWritingCommentEvent)="cancelWritingComment()"></commentContainer>
</div>
