    <div *ngIf="dataLoaded; else nodata" >
        <div>
            <input id="word" type="checkbox" [formControl]="showLetters">
            <label for="word" class="m-2"> show letters </label>
        </div>
        <tabledContainer [tableData]="getData()"
                         [numOfCol]="6"
                         [bordered]="true">
        </tabledContainer>
        <pagination *ngIf="!showLetters.value"
                    [numOfLinks]="numOfLinks" 
                    [linksPerPage]="10"
                    [current]="currentStatisticsPage"
                    (navigateEvent) = "navigateEvent($event)">
        </pagination>
    </div>

    <ng-template #nodata>
        <loading></loading>
    </ng-template>  
