<div class="row m-1 rounded-3 align-items-center" [id]="comment.commentId">
  <div class="p-1 m-1 col-9 rounded-3" style="background-color: #0dcaf099 ">
    <div>
      <commentOwnerInfo [user]="comment.quranHubUser" [comment]="comment"></commentOwnerInfo>
    </div>
    <commentText [text]="comment.text"></commentText>
    <div *ngIf="comment.verse"  >
      <ayaCard [aya]="comment.verse"></ayaCard>
    </div>
  </div>
  <div class="col">
    <like [liked]="comment.reactedTo"
          [style.cursor]="'pointer'"
          (likeEvent)="likeEvent()"
          (unlikeEvent)="unlikeEvent()">
    </like>
    <likeCount [addYou]="false"
               [count]="comment.reactsCount"
               (showLikesEvent)="showLikesEvent()">

    </likeCount>
    <commentLikesModal *ngIf="showLikes"
                      [repository]="repository"
                      [commentId]="comment.commentId"
                      [totalLikes]="comment.reactsCount"
                      (hideLikesEvent)="hideLikesEvent()">

    </commentLikesModal>
  </div>

  <div class="col" *ngIf="isOwner"
                   [style.cursor]="'pointer'"
                   (click)="deleteComment()">
    <span *ngIf="!submitDelete">
      X
    </span>
    <spinner *ngIf="submitDelete"></spinner>
  </div>

</div>
