<div class="form-floating rounded-3" >
    <div class="row mt-1">
        <div class="col-9">
            <textarea class="form-control"
                      [(ngModel)]="comment" 
                      placeholder="Leave a comment here"
                      id="floatingTextarea">
      
            </textarea>
            <label for="floatingTextarea"></label>
            <chooseAya *ngIf="addAya"
                       [chosenSura]="chosenSura"
                       [chosenAya]="chosenAya"
                       (chooseAyaEvent)="onChooseAyaEvent($event)">
            </chooseAya>
        </div>
        <div class="col-2">
            <button class="btn btn-primary d-inline"
                    *ngIf="!addAya" type="button"
                    (click)="addingAya()">
              Add Aya
          </button>
        </div>
        <div class="col-1">
            <i class="fa-solid fa-xmark float-end"
               [style.cursor]="'pointer'"
               (click)="onCancelWritingComment()" >

            </i>
        </div>
    </div>
    <button class="btn btn-primary float-end"
            type="button"
            [disabled]="submitted"
            (click)="onAddingComment()">
        <spinner *ngIf="submitted"></spinner>
        <span *ngIf="!submitted">Comment</span>
    </button>
</div>
