  <table class="table  table-sm table-striped table-bordered ">
    <thead>
        <tr><th>Property</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>email</td>
            <td class="text-truncate" style="max-width:250px">
                {{email}}
            </td>
        </tr>
        <tr>
            <td>username</td>
            <td class="text-truncate" style="max-width:250px">
                {{username}}
            </td>
        </tr>
    </tbody>
</table>  

