    <div class="row border  border-3 rounded-3 mt-2  p-2" [style.background-color]="'papayawhip'" >
      <div class="col m-2">
        <input id="word" type="checkbox" [formControl]="overviewMode">
        <label for="word" class="ms-2"> overview mode </label> 
      </div >
      <select class="col p-2 form-select ms-4 me-2 " aria-label="Default select example" [(ngModel)]="curLanguage" >
        <option  *ngFor="let language of languages" value={{language}} > {{language}} </option>
      </select> 
    </div>
   <div class="row align-items-start">
      <div  class="col-12 col-md border  border-3 rounded-3 mt-2 me-2  p-2 "
            *ngIf="!overviewMode.value"
            [style.background-color]="'papayawhip'">
        <tafseerAndTrans ></tafseerAndTrans>
      </div>
      <div class="col-12  col-md border  border-3 rounded-3 mt-2  p-2 " [style.background-color]="'papayawhip'">
        <quran></quran>
      </div>
    </div>

