<i class="text-white fa-regular fa-bell"
   (click)="togglePanel($event)"
   [style.cursor]="'pointer'"
   [style.scale]="1.8"  >

</i>
<span  [style.visibility]="viewed ? 'hidden' : 'visible'" class="text-info count">{{ notificationRepository.notifications.length}} </span>
<div class="miniNotificationPanel m-2 p-2 rounded-3 bg-dark"
     *ngIf="showNotificationPanel"
     (clickOutside)="showNotificationPanel=false"
     (click)="hidePanel($event)" >
    <div *ngFor="let notification of notificationRepository.notifications">
        <notification  [notification]="notification"></notification>
    </div>
    <viewMoreNotifications  *ngIf="!notificationRepository.endOfNotifications"></viewMoreNotifications>
</div>
